// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
	margin:0;
	padding:0;

}

#user_ind{
	background-color: blue;
	width: 25%;
	height: 25%;
	margin: 0 auto;
}

#nodec:link, #nodec:visited, #nodec:active{
	text-decoration: none;
	color: black;
}

.users_index{
	background-color: pink;
	// margin:0;
	// padding: 0;
	// height: 100%;
	// width: 100%;
}

.users_show{
	background-color: green;
}






